body {
    background: linear-gradient(to right, #FF5E00 60%, #ffffff);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  .ico {
    width: auto;
    height: 200px;
  }
  
  .imgDiv, .h1Div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .h1Div {
    color: white;
    font-size: 20px;
  }
  
  .add {
    background-color: white;
    border-radius: 20px;
    height: 500px;
    width: 600px;
    margin: 30px auto;
    position: relative;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .topIconDiv {
    margin-bottom: 10px;
  }
  
  .topIcon {
    width: 100px;
    height: 70px;
    border-radius: 10px;        
    object-fit: cover;
    background-color: white;
    border: 2px solid #FF5E00;
  }
  
  .h1Div2 {
    color: #FF5E00;
    text-align: center;
    padding-top: 5px;
  }
  
  .fields {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .fields input {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #FF5E00;
    width: 300px;
    font-size: 20px;
    color: black;
  }
  
  .fields input::placeholder {
    color: black;
    font-size: 20px;
  }
  
  .butt {
    margin-top: 30px;
    background-color: #FF5E00;
    color: white;
    font-weight: bold;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 25px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .butt:hover {
    background-color: #e65c00;
  }
  
